<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="thontepu.naveen.baseproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <!--TODO make allow back up as false if you dont want to save any data in the user's phone once the app is uninstalled-->
    <application
        android:name=".BaseProject"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="93104c0e785382f079d4d9a4bf7f95e4cc9e86b3" />
    </application>

</manifest>